@import url('https://fonts.googleapis.com/css?family=Crimson+Pro:400,600,700,800,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Crimson Pro', serif;
}

body {
    background-color: rgb(75, 69, 103);
    color: white;
}

header {
    background: blanchedalmond;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    position: fixed;
    top: 0;
   width: 100%;
}

#gallery {
    padding: 30px;
    width: 70%;
    /* margin: auto; */
    margin: 12% 35% 0;
}

nav>a {
    font-size: 40px;
    padding: 25px;
}

a {
    color: black;
    text-decoration: none;
}

.grid {
    display: flex;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 50px;
}
#hero>h2{
    padding: 12px;
font-size: 35px;
}

#hero input[type="email"] {
    max-width: 275px;
    width: 100%;
    padding: 5px;
    font-size: 25px;

}

#hero input[type="submit"] {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: #f1c40f;
    font-size: 20px;
}
footer {
    margin-top: 30px;
    background-color: #ddd;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
li {
    list-style: none;
}
footer > ul {
    display: flex;
    justify-content: flex-end;
}
footer > ul > li {
    padding: 0 10px;
    font-size: 26px;
}
footer > span {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #444;
}
@media (max-width: 600px) {
    header {
        flex-wrap: wrap;
    }
}